services:
  db:
    image: postgres:18
    restart: always
    ports:
      - "5432:5432"

    volumes:
      - app-db-data:/var/lib/postgresql
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
      - POSTGRES_USER=${POSTGRES_USER?Variable not set}
      - POSTGRES_DB=${POSTGRES_DB?Variable not set}

volumes:
  app-db-data:
